@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-color-light: 240, 20%, 98%;
  --accent-color-light: 174, 42%, 51%;
  --highlight-color-light: 42, 100%, 70%;
  --text-color-light: 0, 0%, 20%;
  --background-color-light: 355.6,100%,94.7%;
  --button-color-light: 204, 51%, 78%;
  --card-color-dark: 175, 50%, 78%;
  --main-color-dark: 210, 8%, 10%;
  --accent-color-dark: 174, 42%, 51%;
  --highlight-color-dark:3, 50%, 78%;
  --text-color-dark: 0, 96%, 89%;
  --background-color-dark: 0, 0%, 12%;
  --button-color-dark:	0, 100%, 68%;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
}

.shake {
  animation: shake 0.3s ease-in-out; /* Shorter duration for more intensity */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
